@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilos reutilizables*/




/* Modo claro - por defecto */
body {
    background: linear-gradient(to right, cyan, white);
    color: #000;
}

  /* Modo oscuro */
  .dark {
    background: linear-gradient(to right, black, #172554);
    color: #fff;
  }
  
  /* Estilo adicional para el header en modo oscuro
  .dark .navheader {
    background-color: #333;
  } */
  
  /* Otros estilos para el modo oscuro
  .dark .linkheadersection {
    color: #ddd;
  }
  
  .dark .p-3 {
    background-color: #444;
  }*/
  
  /* Agrega más reglas para personalizar los componentes en modo oscuro */
  

  





/* HEADER*/
.navheader{
    @apply fixed top-0 left-0 w-full p-10 md:flex md:items-center md:justify-between shadow-lg z-50
}

.ulheader{
    @apply md:flex md:items-center z-[-1] md:z-auto md:static absolute w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 opacity-0 md:opacity-100 transition-all ease-out duration-700 top-[-400px]
}

.linkheadersection{
    @apply text-2xl  hover:text-cyan-500 hover:text-4xl duration-100 font-bold
}
/* SECTION 1*/
.linksection1{
    @apply text-indigo-500 inline-flex items-center p-10 m-10 scale-150 text-xl hover:text-cyan-300
}

.btnsection1{
    @apply rounded-full mb-20 m-10 px-10 h-20 focus:outline-none text-center border-2 border-black text-3xl bg-indigo-500 hover:bg-cyan-300
}

/* SECTION 2*/
.imgsection2{
    @apply size-32 cursor-pointer hover:animate-pulse
}

/* SECTION 2: CARDS*/
